USE [master]
GO
/****** Object:  Database [DungeonMaster]    Script Date: 2025. 04. 07. 14:42:43 ******/
CREATE DATABASE [DungeonMaster]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DungeonMaster', FILENAME = N'C:\Users\c20oroszp\DungeonMaster.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DungeonMaster_log', FILENAME = N'C:\Users\c20oroszp\DungeonMaster_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DungeonMaster].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DungeonMaster]
GO
/****** Object:  Table [dbo].[MatchLogs]    Script Date: 2025. 04. 07. 14:42:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchLogs](
	[MatchID] [int] IDENTITY(1,1) NOT NULL,
	[PlayerID] [int] NOT NULL,
	[Kills] [int] NULL,
	[MatchDuration] [int] NOT NULL,
	[Win] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 2025. 04. 07. 14:42:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[PlayerID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Level] [int] NOT NULL,
	[SP] [int] NOT NULL,
	[Permission] [int] NOT NULL,
	[RegDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnlockedSkills]    Script Date: 2025. 04. 07. 14:42:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnlockedSkills](
	[UnlockedSkillID] [int] IDENTITY(1,1) NOT NULL,
	[PlayerID] [int] NOT NULL,
	[Skill] [int] NULL,
	[UnlockDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UnlockedSkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MatchLogs] ADD  DEFAULT ((0)) FOR [Kills]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [Level]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [SP]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT ((0)) FOR [Permission]
GO
ALTER TABLE [dbo].[Players] ADD  DEFAULT (getdate()) FOR [RegDate]
GO
ALTER TABLE [dbo].[UnlockedSkills] ADD  DEFAULT ((0)) FOR [Skill]
GO
ALTER TABLE [dbo].[UnlockedSkills] ADD  DEFAULT (getdate()) FOR [UnlockDate]
GO
ALTER TABLE [dbo].[MatchLogs]  WITH CHECK ADD  CONSTRAINT [FK_MatchLogs_Players] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Players] ([PlayerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MatchLogs] CHECK CONSTRAINT [FK_MatchLogs_Players]
GO
ALTER TABLE [dbo].[UnlockedSkills]  WITH CHECK ADD  CONSTRAINT [FK_UnlockedSkills_Players] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[Players] ([PlayerID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UnlockedSkills] CHECK CONSTRAINT [FK_UnlockedSkills_Players]
GO
USE [master]
GO
